<div class="google-loader" *ngIf="!gotData">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>


<div class="bg-img" *ngIf="gotData">

  <h1 *ngIf="gotData" class="title-weather">{{ weatherData.name }} </h1>

  <table class="current-weather" style="margin-left:auto;margin-right:auto;">
    <tr>
        <td colspan="2" id="title">
        </td>
    </tr>
    <tr>
        <td id="firstcolumn">
          <img src= {{iconURL}} alt="" height="80px" width="80px">
        </td>
        <td id="secondcolumn">
            <p class="temp">{{curTemp}}&#176;<p>
        </td>
    </tr>
  </table>

  <div *ngIf="gotForecast" class="future">
      <div class="day" *ngFor="let days of forecastData.daily.data|slice:1:6">
          <h3>{{days.time}}</h3>
          <i><span [ngClass]="days.icon"></span></i>
          <p class="high-temp">{{days.temperatureHigh}}&#176;</p>
          <p class="low-temp">{{days.temperatureLow}}&#176;</p>
      </div>
  </div>

  <p *ngIf="show">Show this when boolean is true...</p>


  <div class="rest">
  <div class="googlemaps">
    <agm-map  [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  </div>
</div>
